Flask==1.0.2
Flask-WTF==0.14.2
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
numpy==1.22.0
pandas
pickleshare==0.7.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
tensorflow==1.11.0
termcolor==1.1.0
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.2
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
textblob==0.15.2